{# @prop open boolean Whether the modal is open on initial render. Defaults to `false` #}
{# @prop size 'sm'|'lg'|'xl' The modal size #}
{# @prop centered boolean Whether to vertically center the modal #}
{# @prop scrollable boolean Whether content is scrollable #}
{# @prop backdrop 'dynamic'|'static' To prevent the modal from closing when clicking outside. Defaults to `dynamic` #}
{# @block content The modal content, typically includes `Modal:Header`, `Modal:Body`, and optionally `Modal:Footer` #}
{%- props open = false, size = null, centered = false, scrollable = false, backdrop = 'dynamic' -%}

{%- set style = html_cva(
	base: 'modal-dialog',
	variants: {
		size: {
			default: '',
			sm: 'modal-sm',
			lg: 'modal-lg',
			xl: 'modal-xl',
		},
		centered: {
			true: 'modal-dialog-centered',
		},
		scrollable: {
			true: 'modal-dialog-scrollable',
		},
	},
) -%}

<div
	id="{{ _modal_id }}"
	class="modal fade{% if open %} show{% endif%}"
	tabindex="-1"
	aria-hidden="true"
	aria-labelledby="{{ _modal_id }}-title"
	{% if backdrop == 'static' %}data-bs-backdrop="static" data-bs-keyboard="false"{% endif %}
>
	<div
		class="{{ style.apply({size, centered, scrollable}, attributes.render('class')) }}"
		{{ attributes }}
	>
		<div class="modal-content">
			{%- block content %}{% endblock -%}
		</div>
	</div>
</div>
