{# @block content The header area, typically contains `Modal:Title` and `Modal:Close` #}

<div class="modal-header {{ attributes.render('class') }}" {{ attributes }}>
	{%- block content %}{% endblock -%}
</div>
