{# @block content The footer area, typically contains actions or additional information #}

<div class="card-footer {{ attributes.render('class') }}" {{ attributes }}>
	{%- block content %}{% endblock -%}
</div>
