<twig:Collapsible id="collapseExample">
    <twig:Collapsible:Trigger aria-expanded="false">
        Toggle Collapsible
    </twig:Collapsible:Trigger>
    <twig:Collapsible:Content>
        <p>This content can be collapsed!</p>
    </twig:Collapsible:Content>
</twig:Collapsible>
