<twig:Collapsible>
    <twig:Collapsible:Trigger target="collapseExample" aria-expanded="false">
        Toggle Collapsible
    </twig:Collapsible:Trigger>
    <twig:Collapsible:Content id="collapseExample">
        <p>This content can be collapsed!</p>
    </twig:Collapsible:Content>
</twig:Collapsible>
