<twig:Collapsible id="collapseExample">
    <twig:Collapsible:Trigger
        variant="primary | secondary | success | danger | warning | info | light | dark | link | outline-primary | outline-secondary | outline-success | outline-danger | outline-warning | outline-info | outline-light | outline-dark"
        aria-expanded="true | false"
    >
        Toggle Collapsible
    </twig:Collapsible:Trigger>
    <twig:Collapsible:Content>
        <p>This content can be collapsed!</p>
    </twig:Collapsible:Content>
</twig:Collapsible>
