<div class="d-flex flex-column gap-3">
	<twig:Checkbox:Container>
		<twig:Checkbox id="default" />
		<twig:Checkbox:Label for="default">Default checkbox</twig:Checkbox:Label>
	</twig:Checkbox:Container>
	
	<twig:Checkbox:Container>
		<twig:Checkbox id="checked" checked />
		<twig:Checkbox:Label for="checked">Checked checkbox</twig:Checkbox:Label>
	</twig:Checkbox:Container>
</div>
