<div class="d-flex flex-column gap-3">
	<twig:Checkbox:Container>
		<twig:Checkbox id="default-disabled" disabled />
		<twig:Checkbox:Label for="default-disabled">Default disabled checkbox</twig:Checkbox:Label>
	</twig:Checkbox:Container>

	<twig:Checkbox:Container>
		<twig:Checkbox id="checked-disabled" checked disabled />
		<twig:Checkbox:Label for="checked-disabled">Checked disabled checkbox</twig:Checkbox:Label>
	</twig:Checkbox:Container>
</div>
