{%- props variant = 'primary', disabled = false -%}

{%- set style = html_cva(
    variants: {
        base: 'transition hover:text-gray-500/75',
        variant: {
            primary: 'text-primary hover:text-primary',
            secondary: 'text-secondary hover:text-secondary',
        },
    },
) -%}

<li>
    <a class="{{ style.apply({variant}, attributes.render('class')) }}{% if disabled %} disabled{% endif %}" {{ attributes }}>{% block content %}Link Name{% endblock %}</a>
</li>
