<div class="d-flex flex-column gap-2">
	<twig:Progress value="10" striped />
	<twig:Progress value="25" variant="secondary" striped />
	<twig:Progress value="30" variant="success" striped />
	<twig:Progress value="50" variant="warning" striped />
	<twig:Progress value="60" variant="danger" striped />
	<twig:Progress value="75" variant="info" striped />
	<twig:Progress value="90" variant="light" striped />
	<twig:Progress value="100" variant="dark" striped />
</div>
