{# @prop id string The tab pane id (should match Tabs:Item id) #}
{# @prop active boolean Whether this pane is active #}
{# @block content The tab pane content #}
{%- props 
    id,
    active = false
-%}

<div
    class="tab-pane fade{% if active %} show active{% endif %}"
    id="{{ id }}"
    role="tabpanel"
    aria-labelledby="{{ id }}-tab"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
