{# @prop value string Unique suffix identifier for generating Tabs internal IDs #}
{# @prop disabled boolean Whether this tab is disabled #}
{# @block content The default block #}
{%- props value, disabled = false -%}

<li class="nav-item" role="presentation">
    <button
        class="nav-link{% if value == _defaultValue %} active{% endif %}{% if disabled %} disabled{% endif %}"
        id="{{ value }}-tab"
        data-bs-toggle="tab"
        data-bs-target="#{{ value }}"
        type="button"
        role="tab"
        aria-controls="{{ value }}"
        {% if value == _defaultValue %}aria-selected="true"{% endif %}
        {% if disabled %}disabled{% endif %}
    >
        {%- block content %}{% endblock -%}
    </button>
</li>
