{# @prop current boolean Whether this is the current item #}
{# @block content The breadcrumb item content, typically a `Breadcrumb:Link` or `Breadcrumb:Page` #}
{%- props current = false -%}

<li class="breadcrumb-item{% if current %} active{% endif %}" {% if current %}aria-current="page"{% endif %}>
    {%- block content %}{% endblock -%}
</li>
