{# @prop inline boolean Whether the switch container is inline. Defaults to false #}
{# @block content The switch input, typically `Switch` #}
{%- props inline = false -%}

<div
    class="form-check form-switch{% if inline %} form-check-inline{% endif%} {{ attributes.render('class') }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
