<div class="d-grid w-100 gap-3">
	<twig:Alert variant="success">
		<twig:Alert:Description>This is a success alert!</twig:Alert:Description>
	</twig:Alert>
	<twig:Alert variant="danger">
		<twig:Alert:Description>This is a danger alert!</twig:Alert:Description>
	</twig:Alert>
	<twig:Alert variant="warning">
		<twig:Alert:Description>This is a warning alert!</twig:Alert:Description>
	</twig:Alert>
	<twig:Alert variant="info">
		<twig:Alert:Description>This is an info alert!</twig:Alert:Description>
	</twig:Alert>
	<twig:Alert variant="light">
		<twig:Alert:Description>This is a light alert!</twig:Alert:Description>
	</twig:Alert>
	<twig:Alert variant="dark">
		<twig:Alert:Description>This is a dark alert!</twig:Alert:Description>
	</twig:Alert>
</div>
