{# @prop header string Optional toast header text #}
{# @prop show boolean Whether the toast is visible. Defaults to false (use JS to show) #}
{# @prop autohide boolean Whether to automatically hide the toast. Defaults to true #}
{# @prop delay number Delay in milliseconds before hiding. Defaults to 5000 #}
{# @block header Optional custom header content #}
{# @block content The toast body content #}
{%- props 
    header = null,
    show = false,
    autohide = true,
    delay = 5000
-%}

<div class="toast{% if show %} show{% endif %} {{ attributes.render('class') }}" 
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true"
    {% if autohide %}data-bs-autohide="true"{% endif %}
    data-bs-delay="{{ delay }}"
    {{ attributes }}
>
    {% if header or block('header') is defined %}
        <div class="toast-header">
            {% if block('header') is defined %}
                {%- block header %}{% endblock -%}
            {% elseif header %}
                <strong class="me-auto">{{ header }}</strong>
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    {% endif %}
    
    <div class="toast-body">
        {%- block content %}{% endblock -%}
    </div>
</div>
