<div class="d-flex align-items-center gap-3">
	<twig:Spinner />
	<twig:Spinner variant="secondary" />
	<twig:Spinner variant="success" />
	<twig:Spinner variant="danger" />
	<twig:Spinner variant="warning" />
	<twig:Spinner variant="info" />
	<twig:Spinner variant="light" />
	<twig:Spinner variant="dark" />
</div>
