{# @prop striped boolean Whether to use striped rows #}
{# @prop bordered boolean Whether to show borders #}
{# @prop borderless boolean Whether to hide borders #}
{# @prop hover boolean Whether to enable hover effect #}
{# @prop small boolean Whether to use small table #}
{# @prop dark boolean Whether to use dark table #}
{# @prop responsive boolean|string Enable responsive table (can be boolean or breakpoint: sm, md, lg, xl, xxl) #}
{# @block content The table structure, typically includes `Table:Header`, `Table:Body`, and optionally `Table:Footer` #}
{%- props 
    striped = false,
    bordered = false,
    borderless = false,
    hover = false,
    small = false,
    dark = false,
    responsive = false
-%}

{%- set style = html_cva(
    base: 'table',
    variants: {
        striped: {
            true: 'table-striped',
        },
        bordered: {
            true: 'table-bordered',
        },
        borderless: {
            true: 'table-borderless',
        },
        hover: {
            true: 'table-hover',
        },
        small: {
            true: 'table-sm',
        },
        dark: {
            true: 'table-dark',
        },
    },
) -%}

{% if responsive %}<div class="table-responsive{% if responsive is not same as(true) %}-{{ responsive }}{% endif %}">{% endif %}
<table
    class="{{ style.apply({striped, bordered, borderless, hover, small, dark}, attributes.render('class')) }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</table>
{% if responsive %}</div>{% endif %}
