{# @prop striped boolean Whether to use striped rows #}
{# @prop bordered boolean Whether to show borders #}
{# @prop borderless boolean Whether to hide borders #}
{# @prop hover boolean Whether to enable hover effect #}
{# @prop small boolean Whether to use small table #}
{# @prop dark boolean Whether to use dark table #}
{# @prop responsive boolean|string Enable responsive table (can be boolean or breakpoint: sm, md, lg, xl, xxl) #}
{# @block header The table header (typically tr > th elements) #}
{# @block content The table body (typically tr > td elements) #}
{# @block footer The table footer (optional) #}
{%- props 
    striped = false,
    bordered = false,
    borderless = false,
    hover = false,
    small = false,
    dark = false,
    responsive = false
-%}

{% set tableClass = [
    'table',
    striped ? 'table-striped',
    bordered ? 'table-bordered',
    borderless ? 'table-borderless',
    hover ? 'table-hover',
    small ? 'table-sm',
    dark ? 'table-dark'
]|filter(v => v)|join(' ') %}

{% if responsive %}<div class="table-responsive{% if responsive is not same as(true) %}-{{ responsive }}{% endif %}">{% endif %}
<table class="{{ tableClass }} {{ attributes.render('class') }}" {{ attributes }}>
    {% if block('header') is defined %}
        <thead>
            {%- block header %}{% endblock -%}
        </thead>
    {% endif %}
    
    <tbody>
        {%- block content %}{% endblock -%}
    </tbody>
    
    {% if block('footer') is defined %}
        <tfoot>
            {%- block footer %}{% endblock -%}
        </tfoot>
    {% endif %}
</table>
{% if responsive %}</div>{% endif %}
