{# @prop separator '/' The breadcrumb separator, defaults to `/` #}
{# @block content The breadcrumb structure, typically a `Breadcrumb:List` #}
{%- props separator = '/' -%}

<nav
    aria-label="breadcrumb"
    {% if separator != '/' %}style="--bs-breadcrumb-divider: '{{ separator }}';"{% endif%}
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</nav>
