<div class="d-flex flex-column gap-3">
	<twig:Switch:Container>
		<twig:Switch id="default" />
		<twig:Switch:Label for="default">Switch</twig:Switch:Label>
	</twig:Switch:Container>
	
	<twig:Switch:Container>
		<twig:Switch id="checked" checked />
		<twig:Switch:Label for="checked">Switch on</twig:Switch:Label>
	</twig:Switch:Container>
</div>
