<div class="d-flex flex-column gap-3">
	<twig:Switch:Container>
		<twig:Switch id="default-disabled" disabled />
		<twig:Switch:Label for="default-disabled">Switch</twig:Switch:Label>
	</twig:Switch:Container>

	<twig:Switch:Container>
		<twig:Switch id="checked-disabled" checked disabled />
		<twig:Switch:Label for="checked-disabled">Switch on</twig:Switch:Label>
	</twig:Switch:Container>
</div>
