{% props variant = standard %}

{% set style = html_cva(
base: 'text-gray-500 transition hover:text-gray-500/75',
variants: {
variant:
{
nav:'',
logo:'block text-teal-600',
},
},
) %}

<a class="{{ style.apply({variant}, attributes.render('class')) }}">
    {%- block content %}{% endblock -%}
</a>
