<div class="d-flex align-items-center gap-3">
	<twig:Badge>Primary</twig:Badge>
	<twig:Badge variant="secondary">Secondary</twig:Badge>
	<twig:Badge variant="success">Success</twig:Badge>
	<twig:Badge variant="danger">Danger</twig:Badge>
	<twig:Badge variant="warning">Warning</twig:Badge>
	<twig:Badge variant="info">Info</twig:Badge>
	<twig:Badge variant="light">Light</twig:Badge>
	<twig:Badge variant="dark">Dark</twig:Badge>
</div>
