<div class="d-flex align-items-center gap-3">
	<twig:Badge shape="pill">Primary</twig:Badge>
	<twig:Badge variant="secondary" shape="pill">Secondary</twig:Badge>
	<twig:Badge variant="success" shape="pill">Success</twig:Badge>
	<twig:Badge variant="danger" shape="pill">Danger</twig:Badge>
	<twig:Badge variant="warning" shape="pill">Warning</twig:Badge>
	<twig:Badge variant="info" shape="pill">Info</twig:Badge>
	<twig:Badge variant="light" shape="pill">Light</twig:Badge>
	<twig:Badge variant="dark" shape="pill">Dark</twig:Badge>
</div>
