<div class="d-flex flex-column gap-3">
	<twig:Radio:Container>
		<twig:Radio id="default" />
		<twig:Radio:Label for="default">Default radio</twig:Radio:Label>
	</twig:Radio:Container>
	
	<twig:Radio:Container>
		<twig:Radio id="checked" checked />
		<twig:Radio:Label for="checked">Checked radio</twig:Radio:Label>
	</twig:Radio:Container>
</div>
