{# @prop size null|'sm'|'lg' The button group size. Defaults to normal #}
{# @prop orientation 'horizontal'|'vertical' The layout direction of the button group. Defaults to `horizontal` #}
{# @block content The grouped buttons and/or separators #}
{%- props size = null, orientation = 'horizontal' -%}

<div
    class="btn-group{% if orientation == 'vertical' %}-vertical{% endif %}{% if size %} btn-group-{{ size }}{% endif %} {{ attributes.render('class') }}"
    role="group"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
