{# @prop size null|'sm'|'lg' The button group size. Defaults to normal #}
{# @prop orientation 'horizontal'|'vertical' The layout direction of the button group. Defaults to `horizontal` #}
{# @block content The grouped buttons and/or separators #}
{%- props size = null, orientation = 'horizontal' -%}

{%- set style = html_cva(
    base: '',
    variants: {
        orientation: {
            horizontal: 'btn-group',
            vertical: 'btn-group-vertical',
        },
        size: {
            default: '',
            sm: 'btn-group-sm',
            lg: 'btn-group-lg',
        },
    },
) -%}

<div
    class="{{ style.apply({orientation, size}, attributes.render('class')) }}"
    role="group"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
