{# @prop defaultValue string define the open Tabs at initial rendering. Defaults to `` #}
{# @prop orientation 'horizontal'|'vertical' define the visual orientation. Defaults to `horizontal` #}
{# @block content The default block #}
{%- props defaultValue = '', orientation = 'horizontal' -%}

{%- set vertical = orientation == 'vertical' -%}
{%- set _defaultValue = defaultValue -%}

<div
    class="tab-content {{ attributes.render('class') }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
