{# @prop size 'sm'|'lg' The input group size. Defaults to normal size #}
{# @block content The input field group elements, typically `Input`, `InputGroup:Text`, and/or `Button` #}
{%- props size = null -%}

{%- set style = html_cva(
	base: 'input-group',
	variants: {
		size: {
			sm: 'input-group-sm',
			lg: 'input-group-lg',
		},
	},
) -%}

<div
    class="{{ style.apply({size}, attributes.render('class')) }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
