<div class="d-flex align-items-center">
	<twig:Button>Primary</twig:Button>
	<twig:Button variant="secondary">Secondary</twig:Button>
	<twig:Button variant="success">Success</twig:Button>
	<twig:Button variant="danger">Danger</twig:Button>
	<twig:Button variant="warning">Warning</twig:Button>
	<twig:Button variant="info">Info</twig:Button>
	<twig:Button variant="light">Light</twig:Button>
	<twig:Button variant="dark">Dark</twig:Button>
	<twig:Button variant="link">Link</twig:Button>
</div>
