<div class="d-flex align-items-center">
	<twig:Button variant="outline-primary">Primary</twig:Button>
	<twig:Button variant="outline-secondary">Secondary</twig:Button>
	<twig:Button variant="outline-success">Success</twig:Button>
	<twig:Button variant="outline-danger">Danger</twig:Button>
	<twig:Button variant="outline-warning">Warning</twig:Button>
	<twig:Button variant="outline-info">Info</twig:Button>
	<twig:Button variant="outline-light">Light</twig:Button>
	<twig:Button variant="outline-dark">Dark</twig:Button>
</div>
