{# @prop id string The collapse id (required for targeting) #}
{# @prop show boolean Whether the collapse is initially shown. Defaults to false #}
{# @block content The collapsible content #}
{%- props 
    id,
    show = false
-%}

<div class="collapse{% if show %} show{% endif %} {{ attributes.render('class') }}" 
    id="{{ id }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
