{# @block header Optional card header content (typically Card:Header) #}
{# @block image Optional card image (typically Card:Image) #}
{# @block content The card body content #}
{# @block footer Optional card footer content (typically Card:Footer) #}

<div class="card {{ attributes.render('class') }}" {{ attributes }}>
    {%- block header %}{% endblock -%}

    {%- block image %}{% endblock -%}

    <div class="card-body">
        {%- block content %}{% endblock -%}
    </div>

    {%- block footer %}{% endblock -%}
</div>
