{# @block content The card content, typically includes `Card:Content` with `Card:Header`, and/or `Card:Footer` #}

<div class="card {{ attributes.render('class') }}" {{ attributes }}>
    {%- block content %}{% endblock -%}
</div>
