{# @block header The card header content #}
{# @block content The card body content #}
{# @block footer The card footer content #}

<div class="card {{ attributes.render('class') }}" {{ attributes }}>
    {%- block top %}{% endblock -%}
    
    {% if block('header') is defined %}
        <div class="card-header">{%- block header %}{% endblock -%}</div>
    {% endif %}
    
    {%- block content %}{% endblock -%}

    {% if block('footer') is defined %}
        <div class="card-footer">{%- block footer %}{% endblock -%}</div>
    {% endif %}

    {%- block bottom %}{% endblock -%}
</div>
