{# @prop active boolean Whether this is the current page #}
{# @prop disabled boolean Whether this item is disabled #}
{# @block content The pagination item content, typically a `Pagination:Link` #}
{%- props active = false, disabled = false -%}

<li
    class="page-item{% if active %} active{% endif %}{% if disabled %} disabled{% endif %} {{ attributes.render('class') }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</li>
