{# @prop active boolean Whether this is the current page #}
{# @prop disabled boolean Whether this item is disabled #}
{# @block content The pagination item content, typically a `Pagination:Link` #}
{%- props active = false, disabled = false -%}

{%- set style = html_cva(
	base: 'page-item',
	variants: {
		active: {
			default: '',
			true: 'active'
		},
		disabled: {
			default: '',
			true: 'disabled'
		},
	},
) -%}

<li
    class="{{ style.apply({active, disabled}, attributes.render('class')) }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</li>
