{# @prop active boolean Whether this is the current page. Defaults to `false` #}
{# @block content The page number or navigation icon #}
{%- props active = false -%}

<a
    class="page-link"
    {% if active %}aria-current="page"{% endif %}
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</a>
