{# @prop variant 'primary'|'secondary'|'success'|'danger'|'warning'|'info'|'light'|'dark' The spinner color. Defaults to `primary` #}
{# @prop type 'border'|'grow' The spinner type. Defaults to `border` #}
{# @prop small boolean Small spinner size. Defaults to `false` #}
{%- props variant = 'primary', type = 'border', small = false -%}

{%- set style = html_cva(
	base: '',
	variants: {
		type: {
			border: 'spinner-border',
			grow: 'spinner-grow',
		},
		variant: {
			primary: 'text-primary',
			secondary: 'text-secondary',
			success: 'text-success',
			danger: 'text-danger',
			warning: 'text-warning',
			info: 'text-info',
			light: 'text-light',
			dark: 'text-dark',
		},
		small: {
			true: 'spinner-' ~ type ~ '-sm',
		},
	},
) -%}

<div
    class="{{ style.apply({type, variant, small}, attributes.render('class')) }}"
    role="status"
    {{ attributes }}
></div>
