<twig:Modal id="exampleModalScrollable">
	<twig:Modal:Trigger>Open Scrollable Modal</twig:Modal:Trigger>
	<twig:Modal:Content scrollable>
		<twig:Modal:Header>
			<twig:Modal:Title>Modal Title</twig:Modal:Title>
			<twig:Modal:Close />
		</twig:Modal:Header>
		<twig:Modal:Body>
			<p>This is a modal body with some example content.</p>
		</twig:Modal:Body>
		<twig:Modal:Footer>
			<twig:Button variant="secondary" data-bs-dismiss="modal">Close</twig:Button>
			<twig:Button variant="primary">Save changes</twig:Button>
		</twig:Modal:Footer>
	</twig:Modal:Content>
</twig:Modal>
