<twig:Modal id="exampleModalSm">
	<twig:Modal:Trigger>Open Small Modal</twig:Modal:Trigger>
	<twig:Modal:Content size="sm">
		<twig:Modal:Header>
			<twig:Modal:Title>Modal Title</twig:Modal:Title>
			<twig:Modal:Close />
		</twig:Modal:Header>
		<twig:Modal:Body>
			<p>This is a modal body with some example content.</p>
		</twig:Modal:Body>
		<twig:Modal:Footer>
			<twig:Button variant="secondary" data-bs-dismiss="modal">Close</twig:Button>
			<twig:Button variant="primary">Save changes</twig:Button>
		</twig:Modal:Footer>
	</twig:Modal:Content>
</twig:Modal>

<twig:Modal id="exampleModalLg">
	<twig:Modal:Trigger>Open Large Modal</twig:Modal:Trigger>
	<twig:Modal:Content size="lg">
		<twig:Modal:Header>
			<twig:Modal:Title>Modal Title</twig:Modal:Title>
			<twig:Modal:Close />
		</twig:Modal:Header>
		<twig:Modal:Body>
			<p>This is a modal body with some example content.</p>
		</twig:Modal:Body>
		<twig:Modal:Footer>
			<twig:Button variant="secondary" data-bs-dismiss="modal">Close</twig:Button>
			<twig:Button variant="primary">Save changes</twig:Button>
		</twig:Modal:Footer>
	</twig:Modal:Content>
</twig:Modal>

<twig:Modal id="exampleModalXl">
	<twig:Modal:Trigger>Open Extra Large Modal</twig:Modal:Trigger>
	<twig:Modal:Content size="xl">
		<twig:Modal:Header>
			<twig:Modal:Title>Modal Title</twig:Modal:Title>
			<twig:Modal:Close />
		</twig:Modal:Header>
		<twig:Modal:Body>
			<p>This is a modal body with some example content.</p>
		</twig:Modal:Body>
		<twig:Modal:Footer>
			<twig:Button variant="secondary" data-bs-dismiss="modal">Close</twig:Button>
			<twig:Button variant="primary">Save changes</twig:Button>
		</twig:Modal:Footer>
	</twig:Modal:Content>
</twig:Modal>
